body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  display: inline-block;
  position: relative;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.content {
  margin-top: 15vh; 
}

.selectable-text {
  user-select: auto;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  background-color: rgba(31, 31, 31, 0.95);
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  flex: 0 1 auto;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.account-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.home-links {
  display: flex;
  padding-left: inherit;
  justify-content: space-around;
  flex: 1;
}

.pdf-viewer {
  margin-top: 50px;
  flex: 1 1 auto;
  flex-grow:  1;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.reader {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.viewer-section {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.right-page {
  justify-content: flex-start;
}

.left-page {
  justify-content: flex-end;
}

.Toolbar-Container {
  padding: 10px; 
}

.left-toolbar {
  align-self: center; 
}

.right-toolbar {
  align-self: center;
}

.Toolbar {
  display: flex;
  gap: 10px;
}


.header a, .logout-button {
  color: #ddd;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header a:hover, .logout-button:hover {
  background-color: #555;
}

.logo {
  height: 70px;
  padding: 10px;
  padding-right: 15px;
  transition: transform 0.2s;
}

.PFP {
  height: 40px;
  padding: 10px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.card {
  background-color: #282828;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.GroupMem {
  padding-top: 20px;
}

ol {
  padding-left: 20px;
}

ol li {
  text-align: left;
  line-height: 1.6;
}

button {
  padding: 10px 20px;
  background-color: #0a9396;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #94d2bd;
}

.pagination {
  padding: 10px 20px;
  display: flex;
  flex: 0.8;
  justify-content: space-evenly;
}

.PageNo {
  align-self: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px 10px;
  }

  .home-links, .logo-container, .account-links, .PFP-container {
    width: 100%;
    justify-content: center;
  }

  .header a, .logout-button {
    margin-top: 10px;
  }
}
